body{
    font-family: 'Segeo UI';
    text-align: center;
    background: whitesmoke;
    padding: 15px;
    margin-top: 5px;
    align-items: center;
    letter-spacing: 2px;
}

#nav{
    position: sticky;  
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas: 
    "nav . . . a w c"}
#nav .logo{
    font-family: 'Satisfy', cursive;
    padding: 5px; 
    grid-area: nav;
    border-radius: 20px;
    text-decoration: none;}
#nav .about{
    border-radius: 20px;
    color: black;
    text-decoration: none;
    grid-area: a;}
#nav .work{
    border-radius: 20px;
    color: black;
    text-decoration: none;
    grid-area: w;}
#nav .contact{
    color: black;
    text-decoration: none;
    grid-area: c;}
#content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  repeat(50 minmax(500px auto));
    margin: 0 auto;}
.header{
    margin-top: 5px;
background: #fff;;
grid-column: 1/3;
grid-row: 1/45;
writing-mode: vertical-lr;
}
.main{
    color: #fff;
    background: #777;
    grid-column: 2/6;
    grid-row: 1/50;
    text-decoration: white;
}
.footer{
    color: royalblue;
    background: #777;
    grid-column:1/2;
    grid-row: 45/50;
    writing-mode: vertical-lr;
    
}
h1{
    margin-bottom: 50px;
}
p{
    grid-column: 1/3;
    grid-row: 3/46;
    font-family: 'Gill Sans', 'Gill Sans MT';
    
    
}
