body{
    font-family: 'Segeo UI';
    text-align: center;
    background: whitesmoke;
    padding: 50px;
    margin-top: 50px;
    align-items: center;
    letter-spacing: 2px;
}
#content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  repeat(50 minmax(500px auto));
    margin: 0 auto;

}

.header{
background: #fff;;
grid-column: 1/3;
grid-row: 1/45;
writing-mode: vertical-lr;
}
.main{
    color: #fff;
    background: #777;
    grid-column: 2/6;
    grid-row: 1/50;
    text-decoration: white;
}
.footer{
    color: royalblue;
    background: #777;
    grid-column:1/2;
    grid-row: 45/50;
    writing-mode: vertical-lr;
    
}
h1{
    margin-bottom: 50px;
}
p{
    grid-column: 1/3;
    grid-row: 3/46;
    font-family: 'Gill Sans', 'Gill Sans MT';
    
    
}
